* {
  box-sizing: border-box;
  margin-top: 0;
  /* outline: 1px dashed red; */
}

/* body for the website  */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 240, 240);
}



/* Decides the color of the background-color  and color of all high-lighted text */

::selection {
  /* background-color: rgb(203, 153, 126); */
  background-color: rgb(240, 113, 103); 
  /* background-color: red;  */
  color: white; 
}

::-moz-selection {
  /* background-color: rgb(203, 153, 126); */
  background-color: rgb(241, 124, 103); 
  /* background-color: red;  */
  color: white;  
}



/* Header of the website */

/* The container for the element sin the header */

.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 3em;
  padding-bottom: 3em;
}

@media all and (max-width: 1100px) {
  .logo-wrapper {
    flex-direction: column;
  }
}

/* The picture for the logo */

.logo-img {
  width: 110px;
  height: 100px;
  display: block;
  padding-bottom: 15px;
}

@media all and (max-width: 1100px) {
  .logo-img {
    margin-left: 30px;
  }
}

/* The h1 of the header "Hanna Larsson is an aspiring UX Designer based in Stockholm."*/

h1 {
  font-family: "EB Garamond", serif;
  font-size: 1.6vw;
  font-weight: 50;
  padding: 5%;
}

@media all and (max-width: 1100px) {
  h1 {
    font-size: 18px;
    padding-top: 35px;
  }
}

@media all and (max-width: 790px) {
  h1 {
    font-size: 16px;
    padding-top: 35px;
  }
}

/* Menu */

/* The ul element used to build the menu, container for the list items in the menu */

.menu-list {
  display: flex;
  list-style: none;
}

/* Menu text "Portfolio", list item */

.menu-portfolio {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-decoration: underline;
  text-transform: uppercase;
}

@media all and (max-width: 768px) {
  .menu-portfolio {
    font-size: 15px;  
  }
} 

/* Menu text "About", lisst item */

.menu-about {
  font-weight: bold;
  margin-left: 0.5em;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}


@media all and (max-width: 768px) {
  .menu-about {
    font-size: 15px;  
  }
} 

.menu-about:hover {
  text-decoration: underline;
  text-transform: uppercase;
}

/* First section of the webpage - Just text with short description of the  project */

/* The container of the text  */

.description {
  text-align: center;
  color: white;
  background-color: rgb(65, 66, 65);
  margin: 0;
  width: 100%; 
  height: 50vw; 
}

@media all and (max-width: 768px) {
  .description {
    height: 60vw;
  }
}


@media all and (max-width: 480px) {
  .description {
    height: 60vw; 
  }
}



/* The width of the child div to the .description - decides the width of the text for example */

.text-width {
  padding-top: 3%;
  padding-left: 20vw;
  padding-right: 20vw;
}

/* The main text in the first section - decides the font-size and font-family of the "main text"  */

p {
  font-family: "EB Garamond", serif;
  font-size: 2vw;
}


@media all and (max-width: 768px) {
  p {
    font-size: 2vw;
  }
}


@media all and (max-width: 480px) {
  p {
    font-size: 2vw;
  }
}

/* The project header, The project main header  */

.project-head {
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: bold;
}


/* The smaller text in the bottom of the first section  */

.disclaimer {
  font-style: italic;
  font-size: 1.2vw;
  color: grey;
  margin-top: 2%;
  margin-bottom: 6%;
}

@media all and (max-width: 1024px) {
  .disclaimer {
    font-size: 1.2vw;
  }
}

@media all and (max-width: 768px) {
  .disclaimer {
    font-size: 1.2vw;
  }
}

@media all and (max-width: 480px) {
  .disclaimer {
    font-size: 1.2vw;
  }
}

/* The second section */

/* The picture of the second section - decides the size of the image in width and height (how much space the image should take in the div)  */

.img-horizontal {
  width: 100%;
  height: 55vw;
}

@media all and (max-width: 1024px) {
  .img-horizontal {
    height: 50vw;
  }
}

@media all and (max-width: 768px) {
  .img-horizontal {
    height: 50vw;
  }
}

@media all and (max-width: 480px) {
  .img-horizontal {
    height: 40vw;
  }
}

/* The third section of the page  */

.text-width-3 {
  padding-top: 3%;
  padding-left: 20vw;
  padding-right: 20vw;
}

/* The container of the text  */

.description-3 {
  height: 100vw;
  color: rgb(65, 66, 65);
  background-color: rgb(241, 240, 240);
  width: 100%;
  margin: 0;
}

@media all and (max-width: 768px) {
  .description-3 {
    height: 100vw; 
  }
} 

@media all and (max-width: 480px) {
  .description-3 {
    height: 100vw; 
  }
} 


.project-head-3 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
}


/* The width of the child div to the .description - decides the width of the text for example */

.text-width {
  padding-top: 3%;
  padding-left: 20vw;
  padding-right: 20vw;
  width: 100%; 
}


/* The third section  */

/* The container of the text  */

/* The fourth section */

.img-box {
  display: flex;
  flex-direction: column;  
  justify-content: space-evenly;
  align-items: center; 
}

.img-1 {
  width: 50vw; 
  margin-top: 5%; 
}

/* Explaining text to the pictures */

.explain {
    text-align: center; 
    font-style: italic;
    font-size: 1.2vw;
    color: grey;
    margin-top: 2%;
    margin-bottom: 6%;
  }
  
  @media all and (max-width: 1024px) {
    .disclaimer {
      font-size: 1.2vw;
    }
  }
  
  @media all and (max-width: 768px) {
    .disclaimer {
      font-size: 1.2w;
    }
  }
  
  @media all and (max-width: 480px) {
    .disclaimer {
      font-size: 1.2vw;
    }
  }


  .explain-margin {
    text-align: center; 
    font-style: italic;
    font-size: 1.2vw;
    color: grey;
    margin-top: 2%;
    margin-bottom: 6%;
    padding-left: 3%;
  }
  
  @media all and (max-width: 1024px) {
    .disclaimer {
      font-size: 1.2vw;
    }
  }
  
  @media all and (max-width: 768px) {
    .disclaimer {
      font-size: 1.2w;
    }
  }
  
  @media all and (max-width: 480px) {
    .disclaimer {
      font-size: 1.2vw;
    }
  }


/* The 5th section  */

/* The container of the text  */

.description-5 {
  height: 133vw;
  color: rgb(65, 66, 65);
  background-color: white;
  width: 100%;
  margin: 0;
}

@media all and (max-width: 1024px) {
  .description-5 {
    height: 133vw;
  }
}

@media all and (max-width: 768px) {
  .description-5 {
    height: 133vw;
  }
}

@media all and (max-width: 480px) {
  .description-5 {
    height: 136vw;
  }
}

.project-head-5 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
}


.description-problem {
  height: 48vw;
  color: rgb(65, 66, 65);
  background-color: white;
  width: 100%; 
  margin: 0;
  margin-top: 5%; 
}


/* The 6th section  */

/* The container of the text  */

/* CSS for the div with the text */

.description-6 {
  height: 15vw;
  color: rgb(65, 66, 65);
  background-color: rgb(241, 240, 240);
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 5%; 
}

/* 
@media all and (max-width: 1024px) {
  .description-6 {
    height: 220px;
  }
} */

.project-head-6 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
}



/* section 2 of the 6th section - Picture and text next to each other */

.text-pic-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-pic-container-last {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5%; 
}


.picture {
  margin-left: 20vw;
}

.pic-6 {
  width: 20vw;
}

.text-vertical {
  font-size: 0.75vw;
  margin-left: 15vw;
  margin-right: 8vw;
  margin-top: 4%; 
  margin-bottom: 4%; 
  color: rgb(65, 66, 65);
}

.heading-6 {
  text-transform: uppercase;
  font-size: 1.5vw;
}

/* The 7th section  */

/* This is the samller text in the top of the box (the rest of this sections gets it styling from the 5th section, because they look exactly the same in style) */

.h2-7 {
  text-transform: uppercase;
  margin-top: 6%;
  font-size: 1.2vw;
}

.overview {
  width: 60vw;
}

.h2-list-4 {
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  text-transform: uppercase;
  padding-top: 6%;
}


.deliver {
  /* background-color: rgb(241,240,240); */
  /* color: rgb(241,240,240); */
  text-align: left;
  font-family: "EB Garamond", serif;
  font-size: 2vw;
  color: rgb(65, 66, 65);
}


.time {
  color: rgb(65, 66, 65);
  margin-bottom: 6.5%;
}

/* Quote from the research  */

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%; 
}

.quote-child {
  width: 50vw;
}


.blockquote {
  /* background: #ffffff; */
  border-left: 10px solid #ccc;
  margin: 1.5em 1vw;
  padding: 0.5em 1vw;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 2.5vw;
  font-style: italic;
  font-family: "EB Garamond", serif;
  color: rgb(65, 66, 65);
}

.blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* Padding for list items in section with "How might we.." */
.listitem-1 {
  padding-bottom: 4%;
}

/* Ideation section and image for ideas we came up with  */

/* Change size of the picture of the overview of the ideas we came up with */

.img-ideas {
  width: 50vw;
  margin: 10px;
  margin-top: 5%; 
  margin-bottom: 2%;
}

/* Change size of the picture of picture of me putting post-it's in the matrix */

.img-ideas-1 {
  width: 50vw;
  margin: 10px;
  margin-top: 4%; 
  margin-bottom: 2%; 
}


.description-idea {
  height: 115vw; 
  color: rgb(65, 66, 65);
  background-color: rgb(241, 240, 240);
  width: 100%;
  margin: 0;
  text-align: center;
}

/* @media all and (max-width: 768px) {
  .description-idea {
    margin-bottom: 5%; 
  }
} */


.disclaimer-ideas {
  font-style: italic;
  font-size: 15px;
  color: grey;
  margin-bottom: 6%;
}

.disclaimer-flow {
  font-style: italic;
  font-size: 15px;
  color: grey;
  margin-bottom: 6%;
}


/* Our idea section (assorted) */

.description-assorted {
  display: flex;
  height: 70vw;
  color: rgb(65, 66, 65);
  background-color: white; 
  width: 100%;
  margin: 0;
}

/* @media all and (max-width: 1100px) {
  .description-assorted {
    height: 870px;
  }
} */

.img-assorted {
  width: 50vw; 
  align-self: center;
  margin-bottom: 2%; 
  margin-top: 4%; 
}

.box-assorted {
  display: flex;
  flex-direction: column;
}

.disclaimer-assorted {
  font-style: italic;
  font-size: 15px;
  color: grey;
  margin-bottom: 4%;
  align-self: center;
}

/* User Journey */

.description-journey {
  display: flex;
  height: 66vw; 
  color: rgb(65, 66, 65);
  background-color: white;  
  width: 100%;
  margin: 0;
}


.img-journey {
  width: 65vw;
  margin: 2%;
}

/* Paper sketches */

.description-paper {
  display: flex;
  height: 137vw;
  color: rgb(65, 66, 65);
  background-color: rgb(241, 240, 240);
  width: 100%;
  margin: 0;
}



.box-paper {
  display: flex;
  flex-direction: column;
}

.img-paper {
  width: 16vw;
  margin: 4%;
  align-self: center;
}


.disclaimer-paper {
    align-self: center; 
    font-style: italic;
    font-size: 1.2vw;
    color: grey;
    margin-top: 2%;
    margin-bottom: 6%;
    text-align: center; 
  }


  .disclaimer-padding {
    align-self: center; 
    font-style: italic;
    font-size: 1.2vw;
    color: grey;
    margin-top: 2%;
    margin-bottom: 6%;
    text-align: center; 
    padding-right: 10%; 
  }

.change {
  margin: 1.5%;
}

/* Prototypes from Figma */

.description-figma {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 60vw;
  color: rgb(65, 66, 65);
  /* background-color: rgb(241,240,240);  */
  background-color: white;
  width: 100%;
  margin: 0;
}


.parent-center {
  position: relative;
  text-align: center; 
  background: rgb(241, 240, 240);
}


.centered-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 20vw;
}


/* Figma section with the high-fi prototype sketeches */

.description-figma-high {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 65vw;
  color: rgb(65, 66, 65);
  /* background-color: rgb(241,240,240);  */
  background-color:white;  
  width: 100%;
  margin: 0;
}



/* Presentation of the figma screens (GIF's) */

/* Tutorial */

.img-style {
  width: 20vw;
  margin-top: 3%;
  margin-bottom: 1%; 
}

.description-tutorial {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 75vw;
  color: rgb(65, 66, 65);
  /* background-color: rgb(241,240,240);  */
  background-color: white;
  width: 100%;  
  margin: 0;
}


/* Login */

.description-login {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 73vw;
  color: rgb(65, 66, 65);
  /* background-color: rgb(241,240,240);  */
  background-color: white; 
  width: 100%;
  margin: 0;
}


/* Creating categories */

.description-categories {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 71vw;
  color: rgb(65, 66, 65);
  /* background-color: rgb(241,240,240);  */
  background-color: white;
  width: 100%;
  margin: 0;
}


/* Creating categories 1 */

.description-categories-1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 79vw;
  color: rgb(65, 66, 65);
  /* background-color: rgb(241,240,240);  */
  background-color: white; 
  width: 100%;
  margin: 0;
}


/* Adding your clothes screens */

.description-add {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 45vw;
  color: rgb(65, 66, 65);
  /* background-color: rgb(241,240,240);  */
  background-color: white;
  width: 100%;
  margin: 0;
}


.img-box-add {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.img-1-add {
  width: 16vw;
}

.img-2-add {
  width: 16vw;
}

.img-3-add {
  width: 16vw;
}

.add-piece {
  font-size: 10px;
  font-style: italic;
}

/* Capsules (Home page) */

.description-cap {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 77vw;
  color: rgb(65, 66, 65);
  /* background-color: rgb(241,240,240);  */
  background-color: white;
  width: 100%;
  margin: 0;
}



/* Product */

.description-product {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 79vw;
  color: rgb(65, 66, 65);
  /* background-color: rgb(241,240,240);  */
  background-color: white;
  width: 100%;
  margin: 0;
}



/* Color palette */

.description-color {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 70vw;
  color: rgb(65, 66, 65);
  /* background-color: rgb(241,240,240);  */
  background-color: white;
  width: 100%;
  margin: 0;
}

.description-social {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 76vw;
  color: rgb(65, 66, 65);
  /* background-color: rgb(241,240,240);  */
  background-color: white;  
  width: 100%;
  margin: 0;
}


/* Shopping list */

.description-shopping {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 68vw;
  color: rgb(65, 66, 65);
  /* background-color: rgb(241,240,240);  */
  background-color: white; 
  width: 100%;
  margin: 0;
}



/* Navigation (screens back & forth) */

.description-navigation {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 68vw;
  color: rgb(65, 66, 65);
  /* background-color: rgb(241,240,240);  */
  background-color: white; 
  width: 100%;
  margin: 0;
}



/* Quote from the final user testing  */

.user-quote-container {
  position: relative;
  text-align: center;
}


.blockquote-user {
  /* background: #ffffff; */
  /* border-left: 10px solid #ccc; */
  border-left: 10px solid white; 
  margin: 1.5em 1vw;
  padding: 0.5em 1vw;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 2.5vw;
  font-style: italic;
  font-family: "EB Garamond", serif;
  color: white; 
}

.blockquote-user:before {
  /* color: #ccc; */
  color: white; 
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* Centered text */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span {
font-size: 2vw;
}


/* Image for the user testing quote */

.img-user {
  width: 100%;
  height: 60vw;
}

@media all and (max-width: 1024px) {
  .img-user {
    height: 50vw;
  }
}

@media all and (max-width: 768px) {
  .img-user {
    height: 50vw;
  }
}

@media all and (max-width: 480px) {
  .img-user {
    height: 40vw;
  }
}


/* Describing the user testing */

.description-testing {
  display: flex;
  height: 30vw;
  color: rgb(65, 66, 65);
  background-color: rgb(241, 240, 240);
  width: 100%;
  margin: 0;
}



/* Value for planet, business etc.  */

/* Regulates the size the whole block "value for business, planet and user" */

.description-value {
  height: 16vw;
  color: rgb(65, 66, 65);
  background-color: rgb(241, 240, 240);
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 5%; 
}


/* Future visions for Assorted */

/* Regulates the size the whole block for the future of the app section */

.description-future {
  display: flex;
  height: 70vw;
  color: rgb(65, 66, 65);
  background-color: white;
  width: 100%;
  margin: 0;
}



/* Goals aligned (circles picture) */

/* Regulates the size the whole block for the "aligned" section */


.description-aligned {
  display: flex;
  height: 63vw;
  color: rgb(65, 66, 65);
  background-color: rgb(241, 240, 240);
  width: 100%;
  margin: 0;
}


/* Size of the picture in the aligned section  */
.aligned-pic {
width: 60vw;
margin: 10px;
  }




  
 

  

/* Footer of the webpage  */

.container-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 4em;
  padding-bottom: 4em;
}

@media all and (max-width: 1100px) {
  .container-footer {
    flex-direction: column;
  }
}

.footer-list {
  display: flex;
  text-decoration: none;
  color: black;
  font-family: "EB Garamond", serif;
  font-size: 16px;
}

@media all and (max-width: 480px) {
  .footer-list {
    font-size: 7px;
    margin: 0;
    margin-bottom: 6%;
  }
}

.link-footer {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-family: "EB Garamond", serif;
}

@media all and (max-width: 480px) {
  .link-footer {
    font-size: 6px;
  }
}

li {
  margin-right: 40px;
}

@media all and (max-width: 480px) {
li {
    font-size: 7px;
    margin-right: 20px; 
  }
}

.mail {
  list-style: none;
  text-decoration: none;
}

.mail-link {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
